Title

Notebook for week 6

Introduction

This notebook is created to be submitted as my final assignment in the course

Data Science Languages

R
Python

Data Science Libraries

pandas
numpy
scikit-learn
matplotlib
pyplot
folium
dash

Data Science Tools

Jupyter Notebook

Basic Arithmetic Expressions
1 + 1 = 2
1 - 1 = 0
1 / 1 = 1
1 * 1 = 1

In [4]:
print('1 + 1 = ', 1+1,', 1 * 1 = ', 1*1)

1 + 1 =  2 , 1 * 1 =  1

In [7]:
hours = 0
minutes = input()
minutes = int(minutes)
hours = minutes/60
int(hours)

1800

30

Objectives
Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)

Exercise 3 - Create a markdown cell for an introduction. (1 pt)

Exercise 4 - Create a markdown cell to list data science languages. (3 pts)

Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)

Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)

Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)

Exercise 8 - Create a code cell to multiply and add numbers. (2 pts)

Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)

Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)

Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name. (2 pts)

Exercise 12 - Share your notebook through GitHub (3 pts)

Exercise 13 - Take a screenshot of the first page of the notebook. (1 pt)

Author

Defrant Ferdinand Salim